<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ZiaSearch" parallel="classes" thread-count="2">
<!--    <listeners>-->
<!--        <listener class-name="utils.ListenersImpl"></listener>-->
<!--    </listeners>-->
    <test name="Search">
        <classes>
            <class name="search.AllAppsTestCase" />
            <class name="search.Calendar" />
        </classes>
    </test>
</suite>